//common
$font-main: 'Roboto', sans-serif;

$font-size-lg: 20px;
$font-size-sm: 16px;

$color-black: #212121;
$color-gray: #c4c4c4;
$color-fullblack: #000000;
$color-white: #ffffff;
$color-orange: #FE9800;
$color-red: #d80e0e;

$transition-duration: 0.2s;

$border-radius: 16px;

$box-shadow-offset: 0 0 10px 0 rgba($color: $color-black, $alpha: 0.75);
//======

//link-custom
$font-link-custom: $font-main;
//===============

//nav-link-bordered
$color-nav-link-bordered: $color-black;
$color-box-shadow-nav-link-bordered: $color-orange;
$transition-duration-nav-link-bordered: $transition-duration;
$border-radius-nav-link-bordered: $border-radius;
$background-color-nav-link-bordered: $color-white;
//=================

//nav-link-colored
$color-nav-link-colored: $color-white;
$color-nav-link-colored-hover: $color-white;
$background-color-nav-link-colored: $color-orange;
$color-box-shadow-nav-link-colored: $color-orange;
$transition-duration-nav-link-colored: $transition-duration;
$border-radius-nav-link-colored: $border-radius;
//=================

//nav-link-profile
$color-nav-link-profile: $color-black;
$background-color-nav-link-profile: $color-white;
$border-radius-nav-link-profile: $border-radius;
$color-box-shadow-nav-link-profile: $color-orange;
$transition-duration-nav-link-profile: $transition-duration;
//================

//nav-link-map
$color-nav-link-map: $color-black;
$background-color-nav-link-map: black;
$transition-duration-nav-link-map: $transition-duration;
//============

//button-custom
$font-button-custom: $font-main;
$color-button-custom: $color-black;
$background-color-button-custom: black;
$transition-duration-button-custom: $transition-duration;
//============

//header
$background-color-header: $color-white;
$color-header-logo: $color-black;
$font-header-logo: $font-main;
//======

//event-profile-short
$font-event-profile-short: $font-main;
$color-event-profile-short: $color-black;
$border-radius-event-profile-short: 10px;
$transition-duration-event-profile-short: 0.4s;
//===================

//filter-tags-list-select
$background-color-filter-tags-list-select: $color-white;
$border-color-filter-tags-list-select: $color-gray;
$border-radius-filter-tags-list-select: $border-radius;
$font-filter-tags-list-select: $font-main;
$color-tags-list-select: $color-black;
$border-radius-filter-tags-list-select__search: $border-radius;
$border-color-filter-tags-list-select__search: $color-orange;
$border-color-filter-tags-list-select__tag: $color-orange;
//=======================