@import '~/styles/variables.scss';

._ {
    color: $color-black;
    padding: 8px;
    border-radius: $border-radius-nav-link-colored;
    background-color: $background-color-nav-link-colored;
    transition-duration: $transition-duration-nav-link-colored;
    
    
    &:hover {
        background-color: $color-orange-white;
        box-shadow: 0px 0px 0px 4px $color-orange inset;
    }
    
}

._active {
    background-color: rgba($color: $background-color-nav-link-colored, $alpha: 0.2);
    box-shadow: 0px 0px 0px 4px $color-box-shadow-nav-link-colored inset;
    
    &:hover {
        background-color: rgba($color: $background-color-nav-link-colored, $alpha: 0.2);
        box-shadow: 0px 0px 0px 4px $color-box-shadow-nav-link-colored inset;
    }
}
