.Lenta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 150vh;
}

.LentaOutherWrapper {
	margin: 3vh 5vw 2vh;
}

.head {
	font-size: 2.5em;
	text-align: center;
	width: 50%;
	padding-bottom: 1vw;
	margin-top: 2vw;
	border-bottom: 2px #434343 solid;

}

@media (max-width: 600px) {
	.head {
		font-size: 1.5em;
	}	
}

.events {
	height: 100%;
	width: 100%;
}

.pages {
	padding-bottom: 20px;
}

.page {
	display: inline-block;
	margin: 0 2px;
	padding: 10px;
}

.currentPage {
	background-color: gray;
}