.Auth {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.AuthOutherWrapper {
    margin: 0 5vw;
} 

.AuthInnerWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.Auth__Title {
    margin: 0 0 1vh;
    text-align: center;
}

.Auth__Message {
    margin-bottom: 1vh;
    text-align: center;
}

.Auth__Input {
    padding: 10px;
    margin-bottom: 1vh;
}

.Auth__Button {
    width: 150px;
    text-align: center;
    align-self: center;
}