.AddEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.AddEventOutherWrapper {
    margin: 0 5vh;
}

.AddEventInnerWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.AddEvent__Input {
    padding: 10px;
    margin-bottom: 1vh;
}

.AddEvent__TextArea {
    margin-bottom: 1vh;
    padding: 10px;
    resize: none;
    height: 250px;
}

.AddEvent__Button {
    max-width: 200px;
    text-align: center;
    align-self: center;
}

/* .AddEvent > * {
    width: 400px;
}

.AddEvent > input {
    height: 2em;
}

.name {
    grid-area: name;
}

.tags {
    grid-area: tags;
}

.info {
    grid-area: info;
    resize: vertical;
    height: 200px;
}

.submit {
    grid-area: submit;
    display: grid;
    justify-items: left;
} */