.Search {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.SearchArea {
	display: flex;
}

.SearchArea__Input {
	flex-grow: 1;
}

.SearchArea__Button {
	border-radius: 0;
}

.TagsArea {
	margin-top: 0.5vh;
}