.main-template {
    display: flex;
    flex-direction: column;
    position: relative;

    &__body {
        flex-grow: 1;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__filters {
        position: fixed;
        left: 6px;
        max-width: 300px;
    }

    &__content {
        max-width: calc(100% - 610px);
        flex-grow: 1;
    }

    &__map-link {
        display: inline-block;
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}