@import '~/styles/variables.scss';

.profile-visitor-info-template {
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.__main-header {
    flex-shrink: 0;
    padding-bottom: 10px;
}

.__header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.__toggle-link {
    margin-top: 16px;
    margin-right: 16px;
}

.__body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.__main {
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: $box-shadow-offset;
    width: 1000px;
    min-height: 400px;
    // height: 90%;
    margin: 30px 60px;
    border-radius: 8px;
    background-color: rgba($color: $color-white, $alpha: 0.36);
}

.__map-link {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}