@import '~/styles/variables.scss';

.button-with-drop-list {
    display: flex;
    flex-direction: column;

    &:hover {
        .__drop-list {
            height: auto;
            box-shadow: $box-shadow-offset;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .__button {
            color: $color-orange;
        }
    }
    
    .__drop-list {
        border-radius: $border-radius;
        background-color: $color-white;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 56px;
        height: 0;
        position: absolute;
        list-style: none;
        overflow: hidden;
        transition-duration: $transition-duration;
        
    }
    
    .__drop-list-item {
        color: $color-black;
        transition-duration: $transition-duration;
        border-radius: 8px;
        
        &:hover {
            background-color: $color-gray;
            color: $color-white;
        }
        
        &-inner {
            display: block;
            padding: 8px;
            height: 100%;
            width: 100%;

            &:hover {
                color: $color-white;
            }
        }
    }
    
    .__drop-list-item + .__drop-list-item {
        margin-top: 8px;
    }
    
}