.UserProfile {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__Title {
        margin: 1vh 0 0;
    }

    &ConntentWrapper {
        
        &Outher {
            flex-grow: 1;
            display: flex;
            align-items: center;
            width: 100%;
        }

        &Inner {
            display: flex;
            width: 100%;
        }
        
    }

    &OutherWrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 15px;
    }

    &InnerWrapper {
        display: flex;

        &Picture {
            display: flex;
            flex-direction: column;

            &__Img {
                max-width: 110px;
            }

            &__Button {
                max-width: 110px;
                text-align: center;
                border-radius: 0;
            }
        }

        &Describtion {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 1vw;
        }
    }

    &FunctionsOutherWrapper {
        flex-grow: 2;
    }

    &__ExitButton {
        text-align: center;
        margin-left: 15px;
        margin-bottom: 15px;
        align-self: flex-start;
    }
}