.UserProfileShort {
    display: flex;
    align-items: center;

    &__nick {
        flex-basis: 200px;
        text-align: center;
    }

    &Picture {
        &__Img {
            height: 50px;
            border-radius: 50%;
        }
    }
}