.Registration {
    display: flex;
    flex-direction: column;
    width: 315px;

    &__OutherWrapper {
        display: flex;
    }

    &__Field {
        padding: 10px;
        font-family: 'Segoe UI';
        font-size: 14px;
        border: 1px solid black;
        
        &_TextArea {
            height: 200px;
            resize: none;
        }

        &_Error {
            border: 1px solid red !important;
        }
    }
    &__Field:focus {
        border-color: #007eff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 126, 255, 0.2);
        outline: none;
    }
    &__Field + &__Field {
        margin-top: 10px;
    }

    &__Error {
        color: red;
        margin-bottom: 10px;
    }

    &__Submit {
        margin-top: 10px;
        align-self: center;
    }
}

.Form {
    display: flex;
    flex-direction: column;
    width: 300px;
}