.Registration {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    height: 60vh;
}

.RegistrationOutherWrapper {
    margin: 0 5vw;
}

.RegistrationInnerWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.Registration__Title {
    margin: 0 0 2vh;
    text-align: center;
}

.Registration__Message {
    text-align: center;
    margin-bottom: 2vh;
    color: red;
}

.Registration__Input {
    padding: 10px;
    margin-bottom: 1vh;
}

.Registration__Button {
    max-width: 170px;
    text-align: center;
    align-self: center;
}