@import '~/styles/variables.scss';

.profile-organizer-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .__left-content {
        display: flex;
    }

    .__item {
        font-weight: lighter;
        font-size: $font-size-lg;
        padding: 8px;
        margin: 8px;
        transition: color $transition-duration;
        color: $color-black;
        
        &:hover {
            color: $color-orange;
        }
        
        & + & {
            margin-left: 64px;
        }
        
        &_active {
            border-bottom: 2px solid #000;
    
            &:hover {
                color: $color-black;
            }
        }

        &_button {
            text-align: left;
        }
    }

    .__list-events-item {
        width: 260px;
    }
    
    .__exit {
        padding: 8px;
        margin: 8px;
        color: $color-red;
        transition: color $transition-duration;
    
        &:hover {
            color: rgba($color: $color-red, $alpha: 0.5);
        }
    }
}
