.SearchUsers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;

    &TitleWrapper {
        display: flex;
        margin-bottom: 15px;
        
        &Back {
            padding-right: 5px;
            margin-right: 5px;
            border-right: 1px solid #717171;

            &__Link {
                transition: 0.2s;
            }

            &__Link:hover {
                color: #717171;
            }
        }

        &__Title {
            margin: 0;
            line-height: 0.8em;
        }
    }

    
    &__resultOutherWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        width: 100%;
    }
    
    &__resultTitle {
        color: #717171;
        margin: 5px 0 10px;
    }

    &__resultInnerWrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__pagesMenu {
        margin: 0 auto;
    }
}