@import '~/styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
}

.formik-textarea-custom {
    border-radius: 4px;
    resize: none;
    padding: 8px;
    border: 2px solid $color-black;
    font-family: $font-main;
    font-size: $font-size-sm;
    line-height: 24px;
    transition-duration: $transition-duration;
    flex-grow: 1;
    width: 100%;

    &:focus {
        box-shadow: 0px 0px 0px 3px $color-orange;
        outline: none;
    }
}

._error {
    border-color: red;

    &:focus {
        outline-color: $color-red;
    }
}