@import '~/styles/variables.scss';

.formik-textarea-custom {
    border-radius: 4px;
    resize: none;
    padding: 8px;
    border: 2px solid $color-black;
    font-family: $font-main;
    font-size: $font-size-sm;
}

._error {
    border-color: $color-red;

    &:focus {
        outline-color: $color-red;
    }
}