.Header {
	width: 100%;
	height: 150px;
	background-image: url("./logo.jpg");
	background-position: center;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.buttons {
	margin-right: 5px;
	display: flex;
}

.partition {
	background-color: black;
	width: 3px;
	height: inherit;
}

.button {
	background-color: whitesmoke;
	padding: 5px;
	text-align: center;
}

.button:active {
	background-color: black;
	color: whitesmoke;
}

.auth {
	margin-right: 5px;
}