@import '~/styles/variables.scss';

.login-popup {
    width: 360px;
    transform: translateX(-360px + 59.75px);
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 30px;
}

.__inner {
    background-color: #ececec;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.__message {
    font-family: $font-main;
    margin-bottom: 16px;
}

.__password {
    margin-top: 16px;
}

.__submit {
    margin-top: 16px;
    width: 150px;
    font-size: 14px;
}

.__error-message {
    height: 18px;
    color: $color-red;
    margin-bottom: 15px;

    &-text {
        &::before {
           content: '*';
        }
    }

}