.b {
    height: 35px;
    width: 100px;
}

.Button {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &_Style {
        &_Base {
            font-weight: 400;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            background-color: black;
            color: white;
            transition: 0.2s;
        }
        &_Base:hover {
            background-color: gray;
            color: black;
        }
        &_Base:active {
            background-color: white;
            color: black;
        }

        &_Switch {
            font-weight: 400;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            background-color: black;
            color: white;
            transition: 0.2s;
        }
        &_Switch:hover {
            border-radius: 10px;
            background-color: gray;
            color: black;
        }
        &_SwitchActive {
            font-weight: 400;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            background-color: green;
            color: white;
            transition: 0.2s;
        }

        &_NotBorderRadius {
            font-weight: 400;
            font-size: 16px;
            border: none;
            background-color: black;
            color: white;
            transition: 0.2s;
        }
        &_NotBorderRadius:hover {
            background-color: gray;
            color: black;
        }

        &_Profile {
            &Exit {
                height: 100%;
                width: 100px;
                font-weight: 300;
                line-height: 21px;
                border: none;
                background-color: rgba(255, 0, 0, 0.25);
            }
            &Exit:hover {
                box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
            }
        }
    }
    
    &_Size {
        &_Base {
            padding: 5px;
        }

        &_FullContainer {
            height: 100%;
            width: 100%;
        }
    }
}