.item {
    & + & {
        margin-top: 8px;
    }
}
.pagination-wrapper {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}
.popover {
    max-width: 200px;
}