@import '~/styles/variables.scss';

.__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 36px;
    margin-left: 16px;
    margin-right: 16px;
    height: 500px;
}