.UserList {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 370px;
    justify-content: space-between;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__UserProfileShort {
        margin-right: 15px;
    }

    &__AddFriendButtonContainer {
        flex-shrink: 0;
    }

    &__PagesNumbersMenu {
        align-self: center;
    }
}

.Event {
    display: flex;

    &__Name {
        min-width: 200px;
    }
}

.Event + .Event {
    margin-top: 15px;
}