.ProfileFunctions {
    display: flex;
    flex-direction: column;

    &__Title {
        margin: 0;
    }

    &__Item {
        transition: 0.2s;
    }

    &__Item:hover {
        color: #717171;
    }
}