.Navbar {
	display: flex;
	background-color: #333;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.NavbarOutherWrapper {
	margin-top: 1vh;
}

.Navbar__item + .Navbar__item {
	margin-left: 1%;
}